<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Videos</title>
</head>
<body>
  <h1>Your Uploaded Videos</h1>
  <p>**Video Title:** {{ video_data.name }}</p>
  <p>**Description:** {{ video_data.description }}</p>
  <p>**Link:** <a href="{{ video_data.uri }}">View on Vimeo</a></p>
</body>
</html>
