<!DOCTYPE html>
<html>
<head>
  <title>Upload Video</title>
</head>
<body>
  <h1>Upload Your Video</h1>
  {% with error_message=None %}
  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <label for="video">Select video file:</label>
    <input type="file" name="video" id="video" accept="video/*">
    <br>
    <button type="submit">Upload Video</button>
  </form>
  {% else %}
    <p style="color: red;">{{ error_message }}</p>
  {% endif %}
</body>
</html>
