<!DOCTYPE html>
<html>
<head>
  <title>Video Upload Success</title>
</head>
<body>
  <h1>Your video has been uploaded successfully!</h1>
  <p>Watch your video here:</p>
  <iframe src="{{ video_url }}" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</body>
</html>
